<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Just Simple API Made With Muhammad Shulhan Zidni">
  <meta name="keywords" content="Bot WhatsApp">
  <meta name="author" content="Muhammad Shulhan Zidni">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Human - API</title>
	<link rel="stylesheet" href="https://mysakura.herokuapp.com/material/core.min.css">
	<link rel="stylesheet" href="https://mysakura.herokuapp.com/material/alert.min.css">
	<link rel="stylesheet" href="https://mysakura.herokuapp.com/material/owl.min.css">
  <link rel="stylesheet" href="https://mysakura.herokuapp.com/material/owl2.min.css">
	<link rel="stylesheet" href="https://mysakura.herokuapp.com/material/icon.min.css">
	<link rel="stylesheet" href="https://mysakura.herokuapp.com/material/flag.min.css">
	<link rel="stylesheet" href="https://mysakura.herokuapp.com/material/style.min.css">
	<link rel="shortcut icon" href="https://i.ibb.co/xS9vxrc/MyHuman.jpg" />
</head>
<body>
<div class="main-wrapper">
	<nav class="sidebar">
		<div class="sidebar-header">
			<a href="#" class="sidebar-brand">
				MY HUMAN<span> API</span>
			</a>
			<div class="sidebar-toggler not-active">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="sidebar-body">
		<ul class="nav">
		<li class="nav-item nav-category">MY HUMAN API</li>
		<li class="nav-item">
		<a href="#" class="nav-link">
		<i class="link-icon" data-feather="box"></i>
		<span class="link-title">Home</span>
		</a>
		</li>
		<li class="nav-item">
		<a href="https://github.com/HansError404" class="nav-link">
		<i class="link-icon" data-feather="code"></i>
		<span class="link-title">Script Bot</span>
		</a>
		</li>
		<li class="nav-item nav-category">DOCS</li>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#muslim" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="book-open"></i>
		<span class="link-title">Muslim API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="muslim">
		<ul class="nav sub-menu">
                <li class="nav-item">
		<a href="api/islam/alquran?search=al fatihah" class="nav-link">Al - Quran</a>
		</li>
                <li class="nav-item">
                <a href="/api/islam/quranaudio" class="nav-link">Al - Quran Audio</a>
                </li>
		<li class="nav-item">
		<a href="api/islam/asmaulhusna" class="nav-link">Asmaul Husna</a>
		</li>
		<li class="nav-item">
		<a href="api/islam/doaHarian" class="nav-link">Doa Harian</a>
		</li>
		<li class="nav-item">
		<a href="api/islam/ayatkursi" class="nav-link">Ayat Kursi</a>
		</li>
		<li class="nav-item">
		<a href="api/islam/tafsir" class="nav-link">Tafsir</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="search"></i>
		<span class="link-title">Search API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="search">
		<ul class="nav sub-menu">
	        <li class="nav-item">
		<a href="/api/search/stickerpack?search=SpongeBob" class="nav-link">Sticker Pack</a>
		</li>
		<li class="nav-item">
		<a href="/api/search/stickers?search=SpongeBob" class="nav-link">Sticker Search</a>
		</li>
                <li class="nav-item">
		<a href="/api/search/emojiapi?emoji=😱" class="nav-link">Emoji Search</a>
		</li>
                <li class="nav-item">
		<a href="/api/search/ytsearch?query=hitzeed ch" class="nav-link">YouTube Search</a>
		</li>
                <li class="nav-item">
		<a href="/api/search/google?query=pohon" class="nav-link">Google Search</a>
		</li>
                <li class="nav-item">
		<a href="/api/search/kbbi?query=pohon" class="nav-link">KBBI Search</a>
		</li>
	        </ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#download" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="download"></i>
		<span class="link-title">Downloader API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="download">
		<ul class="nav sub-menu">
			<li class="nav-item">
		<a href="api/downloader/ytmp4?url=https://youtu.be/j2z1Hxp1X9k" class="nav-link">YouTube MP4</a>
		</li>
		<li class="nav-item">
		<a href="api/downloader/ytmp3?url=https://youtu.be/j2z1Hxp1X9k" class="nav-link">YouTube MP3</a>
		</li>
                <li class="nav-item">
		<a href="api/downloader/ytplay?query=yoasobi tabun" class="nav-link">YTPlay Music</a>
		</li>
                <li class="nav-item">
		<a href="api/downloader/mediafire?url=https://www.mediafire.com/download/v6hedu4r1ub6tty" class="nav-link">MediaFire</a>
		</li>
                <li class="nav-item">
		<a href="api/downloader/nhentai?code=147467" class="nav-link">Nhentai Download</a>
		</li>
                <li class="nav-item">
		<a href="api/downloader/nhentaidetail?code=147467" class="nav-link">Nhentai Detail</a>
		</li>
	        </ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#fun" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="coffee"></i>
		<span class="link-title">Entertainment API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="fun">
		<ul class="nav sub-menu">
		<li class="nav-item">
			<li class="nav-item">
		<a href="/api/fun/caklontong" class="nav-link">Cak Lontong</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/tebakgambar" class="nav-link">Tebak Gambar</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/tebakhusbu" class="nav-link">Tebak Husbu</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/tebakdadu" class="nav-link">Tebak Dadu</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/apakah" class="nav-link">Apakah</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/truth" class="nav-link">Truth</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/dare" class="nav-link">Dare</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/family100" class="nav-link">Family100</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/rate?param=Gay" class="nav-link">Rate</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/watak?nama=Hans" class="nav-link">Watak</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/howgay?nama=kamu" class="nav-link">How Gay</a>
		</li>
		<li class="nav-item">
		<a href="/api/fun/asupan" class="nav-link">Asupan</a>
		</li>
                <li class="nav-item">
		<a href="/api/fun/citacita" class="nav-link">Cita - Cita</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#random" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="align-center"></i>
		<span class="link-title">Random Text API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="random">
		<ul class="nav sub-menu">
                <li class="nav-item">
		<a href="/api/random/quotes" class="nav-link">Quotes Random</a>
		</li>
                <li class="nav-item">
		<a href="/api/random/quotes2" class="nav-link">Quotes Random 2</a>
		</li>
                <li class="nav-item">
		<a href="/api/random/faktaunik" class="nav-link">Fakta Unik</a>
		</li>
                <li class="nav-item">
		<a href="/api/random/bucin" class="nav-link">Kata Bucin</a>
		</li>
                <li class="nav-item">
		<a href="/api/random/katabucin" class="nav-link">Kata Bucin 2</a>
		</li>
                <li class="nav-item">
		<a href="/api/random/katailham" class="nav-link">Kata Ilham</a>
		</li>
                <li class="nav-item">
		<a href="/api/random/katabijak" class="nav-link">Kata Bijak</a>
		</li>
                <li class="nav-item">
		<a href="/api/random/nomor?nomor=100" class="nav-link">Nomor Random</a>
		</li>
                <li class="nav-item">
		<a href="/api/random/pantun" class="nav-link">Pantun</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#image" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="image"></i>
		<span class="link-title">Random Image API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="image">
		<ul class="nav sub-menu">
                <li class="nav-item">
		<a href="/api/image/exo" class="nav-link">Exo</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/loli" class="nav-link">Loli</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/shota" class="nav-link">Shota</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/dadu" class="nav-link">Dadu</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/couple" class="nav-link">Anime Couple</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/darkjokes" class="nav-link">Dark Jokes</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/cyberspace" class="nav-link">Wallpaper CyberSpace</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/wallgame" class="nav-link">Wallpaper Game</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/islamic" class="nav-link">Wallpaper Islamic</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/mountain" class="nav-link">Wallpaper Mountain</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/programming" class="nav-link">Wallpaper Programing</a>
		</li>
                <li class="nav-item">
		<a href="/api/image/technology" class="nav-link">Wallpaper Technology</a>
		</li>
                </ul>
	        <li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#MovieStory" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="film"></i>
		<span class="link-title">Movie Story API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="MovieStory">
		<ul class="nav sub-menu">
			<li class="nav-item">
		<a href="/api/moviestory/cerpen" class="nav-link">Cerpen</a>
		</li>
			</ul>
			<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#canvas" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="pen-tool"></i>
		<span class="link-title">Canvas API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="canvas">
		<ul class="nav sub-menu">
			<li class="nav-item">
		<a href="/api/canvas/welcome?name=MyHuman&mem=999&gcname=Hans%20BOT&picurl=https://i.ibb.co/xS9vxrc/MyHuman.jpg&bgurl=https://i.ibb.co/7KD9BSq/20210811-103425.jpg" class="nav-link">Welcome</a>
		</li>
		<li class="nav-item">
		<a href="/api/canvas/goodbye?name=MyHuman&mem=999&gcname=Hans%20BOT&picurl=https://i.ibb.co/xS9vxrc/MyHuman.jpg&bgurl=https://i.ibb.co/7KD9BSq/20210811-103425.jpg" class="nav-link">GoodBye</a>
		</li>
			</ul>
		<li class="nav-item nav-category">Contact me</li>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#con" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="info"></i>
		<span class="link-title">Contact Me</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="con">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a  href="https://wa.me/62895336253039" class="nav-link">WhatsApp</a>
		</li>
		</li>
		<li class="nav-item">
		<a  href="https://github.com/HansError404" class="nav-link">Github</a>
		</li>
		<li class="nav-item">
		<a  href="https://t.me/Hans4O4" class="nav-link">Telegram</a>
		</li>
		</div>
		</nav>
	
		
	</nav><div class="page-wrapper">
	<nav class="navbar">
		<a href="#" class="sidebar-toggler">
			<i data-feather="menu"></i>
		</a>
		<div class="navbar-content">
			<ul class="navbar-nav">
				<li class="nav-item dropdown nav-apps">
					<a class="nav-link dropdown-toggle" href="#" id="appsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i data-feather="grid"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="appsDropdown">
						<div class="dropdown-header d-flex align-items-center justify-content-between">
							<p class="mb-0 font-weight-medium">
								Web App
							</p>
						</div>
						<div class="dropdown-body">
							<div class="d-flex align-items-center apps">
								<a href=https://github.com/HansError404" target="_blank"><i data-feather="github" class="icon-lg"></i><p>
								Github
							</p>
							</a>
							<a href="https://wa.me/62895336253039?text=Hai" target="_blank"><i data-feather="globe" class="icon-lg"></i><p>
								WhatsApp
							</p>
							</a>
							<a href="http://hans-universe.ml/" target="_blank"><i data-feather="bar-chart-2" class="icon-lg"></i><p>
								Official Web
							</p>
							</a>
							</div>
						</div>
						<div class="dropdown-footer d-flex align-items-center justify-content-center">
							Hide
							</div>
							<li class="nav-item dropdown nav-profile">
							<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="https://i.ibb.co/xS9vxrc/MyHuman.jpg" alt="profile">
							</a>
							<div class="dropdown-menu" aria-labelledby="profileDropdown">
							<div class="dropdown-header d-flex flex-column align-items-center">
							<div class="figure mb-3">
							<img src="https://i.ibb.co/xS9vxrc/MyHuman.jpg" alt="MyHuman">
							</div>
							<div class="info text-center">
							<p class="name font-weight-bold mb-0">My Human</p>
							<p class="email text-muted mb-3">Muhammad Shulhan Zidni</p>
							</div>
							</div>
							<div class="dropdown-body">
							<ul class="profile-nav p-0 pt-3">
							<li class="nav-item">
							<a href="http://hans-universe.ml/" class="nav-link">
							<i data-feather="user"></i>
							<span>Profile</span>
							</a>
							</li>
							<li class="nav-item">
							<a href="https://instagram.com/mszpros" class="nav-link">
							<i data-feather="instagram"></i>
							<span>Instagram</span>
							</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav>
<div class="page-content">
	<div class="row">
	<div class="d-flex justify-content-between">
	</div>
	<div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="d-flex align-items-center">
	<div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
	<i class="link-icon" data-feather="eye"></i>
	</div>
	<p class="font-weight-medium mb-0">Visitor</p>
	</div>
	<h3 class="mb-1 number-font">
	<div id="visitor"></div>
	</h2>
	<small class="fs-12 text-muted">Visitor Website</small>
	</div>
	</div>
	</div>
	<div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="d-flex align-items-center">
	<div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
	<i class="link-icon" data-feather="clock"></i>
	</div>
	<p class="font-weight-medium mb-0">Time Now</p>
	</div>
	<h3 class="mb-1 number-font">
	<div id="browser_info"></div>
	</h2>
	<small class="fs-12 text-muted">
	<div id="browser_sholat"></div>
	</small>
	</div>
	</div>
	</div>
	<div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="d-flex align-items-center">
	<div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
	<i class="link-icon" data-feather="calendar"></i>
	</div>
	<p class="font-weight-medium mb-0">Count Down To 2022</p>
	</div>
	<div class="d-flex align-items-center mt-3 flex-wrap">
	<h3 class="font-weight-medium mb-0 mr-2" id="time"></h3>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="d-flex align-items-center">
	<div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
	<i class="link-icon" data-feather="zap"></i>
	</div>
	<p class="font-weight-medium mb-0">Battery Your Phone</p>
	</div>
	<div class="d-flex align-items-center mt-3 flex-wrap">
	<h3 class="font-weight-medium mb-0 mr-2" id="batrai"></h3>
	</div>
	</div>
	</div>
	</div>
		<div class="col-md-12 grid-margin">
		<div class="card">
		<div class="card-body">
					<h6 class="card-title">S & K</h6>
					<p>
					• Don't Spam API<br>
					• Don't Destroy This API<br>
					• Don't Destroy Website Template<br>
					• Last Please Don't Use My API ᐠ( ᐛ )ᐟ<br><br>
					
					</ol>
				</div>
				</div>
	<iframe allow="autoplay" width="0" height="0" src="https://a.top4top.io/m_1973qccu72.mp3" frameborder="0" allowfullscreen></iframe>
</div><footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
				<p class="text-muted text-center text-md-left">
					Copyright &copy; 2021 <a href="https://wa.me/62895336253039" target="_blank">My Human</a>. All rights reserved
				</p>
			</footer>
		</div>
	</div>
<script>
				// Akhir Hitungan Mundur
				var countDownDate = new Date("Jan 1, 2022 00:00:00").getTime();
				// Update Hitungan Mundur Setiap 1 Detik
				var x = setInterval(function() {
					// Mengambil Tanggal Dan Waktu
					var now = new Date().getTime();
					// Find the distance between now and the count down date
					var distance = countDownDate - now;
					// Kalkulator Waktu Hari, Jam, Menit, Detik 
					var days = Math.floor(distance / (1000 * 60 * 60 * 24));
					var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					var seconds = Math.floor((distance % (1000 * 60)) / 1000);
					// Menampilkan Hasil Di Dalam element Menggunakan id="time"
					document.getElementById("time").innerHTML = days + " Hari " + hours + " Jam " + minutes + " Menit " + seconds + " Detik ";
					// Ketika countdown timer sudah berakhir Maka Tulisan Berakhir
					if (distance < 0) {
						clearInterval(x);
						document.getElementById("time").innerHTML = "Berakhir";
					}
				}, 1000);
			</script>
	<script src="https://mysakura.herokuapp.com/material/core.js"></script>
	<script src="https://mysakura.herokuapp.com/material/owl.js"></script>
	<script src="https://mysakura.herokuapp.com/material/feather.js"></script>
	<script src="https://mysakura.herokuapp.com/material/template.js"></script>
	<script src="https://mysakura.herokuapp.com/material/script.js"></script>
	<script src="https://mysakura.herokuapp.com/material/checker.js"></script>
	<script src="https://mysakura.herokuapp.com/material/ip.js"></script>
	<script src="https://mysakura.herokuapp.com/material/kon.js"></script>
	<script src="https://mysakura.herokuapp.com/material/date.js"></script>
	<script src="https://mysakura.herokuapp.com/material/ojan.js"></script>
	<script src="https://mysakura.herokuapp.com/material/ojann.js"></script>
	<script src="minton/assets/libs/sweetalert2/sweetalert2.min.js"></script>
	<script>
	const Toast = Swal.mixin({
	toast: true,
	position: 'top-end',
	showConfirmButton: false,
	timer: 2000
	});
	
	$.getJSON("https://api.countapi.xyz/hit/myhuman.herokuapp.com/visits",
	function(data) {
	$("#visitor").html(data.value);
	})
	
	function visitor(){
	var xhr = new XMLHttpRequest()
	var url = 'https://api.countapi.xyz/hit/janbot-api.herokuapp.com/visits'
	xhr.onloadend = function(){
	data = JSON.parse(this.responseText)
	document.getElementById("visitor").textContent = data.value
	}
	xhr.open("GET", url, true)
	xhr.send()
	}
	</script>
	</html>
